  table td {
    border: 1px solid #999;
  }

  a.selected {
    font-weight: bold;
    color: #555500;
  }

  .row-hidden {
    display: none;
  }

/* USERS ADMIN */

b.label { display: inline-block; width: 147px; }

#table { table-layout: fixed; width: 99% !important; border-collapse: collapse; background-color: #fff; }

#table thead th, #table tfoot th { text-transform: uppercase; text-align: left; padding: 7px 11px; color: #222; font-weight: normal; background: #fff; word-break: break-all; position: relative; border-left: 1px solid #777; border-collapse: separate; }

#table thead th.gestionar-cursos { width: 166px; }

#table thead th.status { width: 111px; }

#table thead th.foto { width: 137px; }

#table thead th.id_user_check { width: 147px; }

#table thead th.nombre { width: 211px; }



/* #table thead th.asc {background: #800; } */

#table thead th:after { position: absolute; right: 0; top: 0; font-weight: bold; background: #800; color: #fff; padding: 0 2px; }

#table thead th.asc:after {content: '\2c5'; }

/* #table thead th.desc {background: #080; } */

#table thead th.desc:after {content: '\2c4'; }

#table  tr:nth-child(odd) { background: #f0f2ed; }

#table td { border: 1px solid #ddd; padding: 1px 11px; word-wrap: break-word; }

	
#table .row-hidden { display: none !important; }
